################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/elevator.projects.v5.1
/.vs/ProjectEvaluation/elevator.metadata.v5.1
/.vs/ProjectEvaluation
/.vs/Elevator/v17/.suo
/.vs/Elevator/v17/.futdcache.v2
/.vs/Elevator/v17
/.vs/Elevator/DesignTimeBuild/.dtbcache.v2
/.vs/Elevator/DesignTimeBuild
/.vs/Elevator
/.vs
